.allcards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content: space-evenly;
    margin-bottom: 80px;
  }

a {
  text-decoration: none;
}

.gallerytitle {
    text-align: center;
    background: rgba(0, 0, 0, 0.171);
}

  @media (max-width: 1000px) {
      .allcards{
        grid-template-columns: repeat(1,auto);
        margin-top: 60px;
      }      
  }