/* .NavbarItems {
    height: 175px;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.navbar-logo {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    justify-self: start;
    cursor: pointer;
    font-family: 'MonteCarlo', cursive;
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .NavbarItems {
        position: relative;
    }

    .navbar-logo {
        font-size: 3.5rem;
    }
} */
